body, html, content
{
    
    height: 100%;
    margin: 0px;
    background-color: #F980CB;
    
}

header,s ul
{
    display: inline;
    display: flex;
    background-color:#F980CB;
    
}

li, a
{
    display:inline;
    margin: 0px 20px;
    color:white;
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
}

#logo
{
    height: 40px;
    position: fixed;
    top: 5px;
    left: 20px;
    background-color: transparent;
}